########################################################################################################################################################
###
### Copyright (C) 2018 by N/A
###
### This file is part of the hw project.
###
########################################################################################################################################################

### @file                       CppProject/.gitignore
### @author                     pappes <pappes@gmail.com>
### @date                       9 Jun 2018

########################################################################################################################################################

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/

########################################################################################################################################################